.img-logo-vert {
    height: 80px;
    margin-top: 20px;
    margin-left: 10px;
}

p, h1, h2 {
    color: #707070;
}
.accueil-title-a-b {
    font-family: Hatch;
    font-size: 150px;
}

.accueil-title-a {
    vertical-align: middle;
    margin-top: 40vh;
    margin-left: 25%;
    transform: translateY(-40%);
}

.accueil-title-b {
    vertical-align: middle;
    margin-left: 50%;
    transform: translateY(-60%);
}

.accueil-subtitle {
    font-family: Poppins;
    font-size: 30px;
    margin-left: 20%;
}

.accueil-subtitle2 {
    font-family: Poppins;
    font-size: 70px;
    margin-top: 250px;
    margin-left: 20%;
}

.accueil-text {
    font-family: Poppins;
    font-size: 30px;
    text-align: center !important ;
    max-width: 400px;
}

.logo-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
}

.color-menu {
    background-color: #87B6A7;
    background-size: auto;
}


/*---------------------------------- CSS Cassandre page Contact ----------------------------*/

.contenu{
    display: flex;
}
.touch{
width: 50%;
padding: 10%;
}
.touch h1{
    font-family: 'Arbutus Slab', serif;
    color: #87B6A7;
}
p{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Arbutus Slab', serif;
}
.social i{
    color: #936F9B;
    padding: 5px;
}
.mail i{
    color: #936F9B;
}
.link{
width: 50%;
padding: 10%;
}

/*---------------------------------- CSS Cassandre page Case studies ----------------------------*/
.projects{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 100px;
}
.projects .p1{
    width: 30%;
    border-radius: 20px;
}
.projects .p2{
    width: 30%;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.projects .p3{
    width: 30%;
    border-radius: 20px;
}
.button{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 21%;
}
span{
    color: #87B6A7;
    font-size: 70px;
}

/*---------------------------------- CSS Cassandre page Menu ----------------------------*/
.menuLink{
    width: max-content;
    margin: 0 auto;
    margin-top:100px;
}
.menuLink a{
    text-decoration: none;
    color:#707070
}
.menuLink a:hover{
    text-decoration: none;
    color: #707070
}
.menuLink h1{
    font-size: 100px;
    font-family: 'Arbutus Slab', serif;
}