.accueil-title-a-b {
    font-family: Hatch;
    font-size: 150px;
}

.accueil-title-a {
    vertical-align: middle;
    margin-top: 45vh;
    margin-left: 25%;
    transform: translateY(-40%);
}

.accueil-title-b {
    vertical-align: middle;
    margin-left: 50%;
    transform: translateY(-60%);
}

.accueil-subtitle {
    font-family: Poppins;
    font-size: 30px;
    margin-left: 20%;
}
/*Contact*/
.contenu{
    display: flex;
}
.touch{
width: 50%;
padding: 10%;
}
.touch h1{
    font-family: 'Arbutus Slab', serif;
    color: #87B6A7;
}
p{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Arbutus Slab', serif;
}
.social i{
    color: #936F9B;
    padding: 5px;
}
.mail i{
    color: #936F9B;
}
.link{
width: 50%;
padding: 10%;
}
